body {
    line-height: 2em;
}

.modal-header {
    border-bottom: 1px solid #eee;
    background-color: #f1dbf7;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header h4 {
    font-family: 'Happy Monkey', cursive;
    font-weight: 900;
    color: black;
}

#menu-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #8e6b96;
    border: 1px solid #6e5773;
}

#footer-social,
#menu-toggle {
    display: none;
}

#menu-toggle:hover {
    color: #222629;
}

#sidebar-header {
    background: #222629;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 375px;
}

.sidebar-profile {
    cursor: default;
    margin: 1.75em 1.5em 1.5em 1.5em;
    min-height: 48px;
    padding: 15px;
    position: relative;
}

.sidebar-profile .pro-image,
.sidebar-profile .pro-name {
    display: inline-block;
}

.pro-image img {
    height: 100px;
    width: 100px;
}

.pro-name {
    font-family: 'Source Sans Pro', sans-serif;
}

.sidebar-navigation ul {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 17pt;
    list-style-type: none;
    padding-left: 0;
}

.sidebar-navigation ul li a span {
    float: left;
}

.sidebar-navigation ul li a {
    border: 0;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    outline: 0;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-decoration: none;
    transition: none;
}

.sidebar-navigation ul li a.active {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #fff;
}

.sidebar-navigation ul li a.active span {
    color: #e2b2ec;
}

.btn-social {
    background-color: white;
    border: solid 2px grey;
    border-radius: 100%;
    display: inline-block;
    height: 40px;
    transition: all 0.3s ease-in-out;
    width: 40px;
}

.social-stackoverflow {
    padding: 1px;
}

.btn-social:hover,
.btn-social:focus {
    border: solid 2px white;
}

#main-container {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-bottom: -20px;
    margin-left: 375px;
    margin-top: -20px;
    transition: all 0.5s ease;
}

.heading {
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
}

#intro {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    color: white;
    padding: 18% 2%;
}

#intro h1 {
    font-size: 50px;
}

#intro h1,
#intro p {
    font-weight: 800;
    text-shadow: 2px 1px 2px #0A0000;
}

#tech-skills,
#portfolio,
#about,
#contact {
    padding: 4% 9% 6% 9%;
}

#tech-skills,
#contact {
    background-color: #e0dfdc;
}

#portfolio,
#about {
    background-color: #f0f1f1;
}

#pikyFilmMore,
#remyListMore,
#givingGoodsMore{
    font-size: 90%;
}

#myResume {
    padding-bottom: 5px;
}

.message-bar {
    font-size: 17px;
    height: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
}

#thankyou_message {
    display: none;
}

.portfolio-item img {
    box-shadow: 0px 0px 10px 3px rgba(217, 213, 217, 1);
    border: 1px solid #ccc;
    cursor:pointer;
}

.tech span.label {
    font-size: 20px;
    line-height: 50px;
    margin: 10px;
}

.contact-form {
    padding: 6%;
}

footer {
    background-color: #6e5773;
    color: white;
    padding: 4%;
}

@media screen and (min-width: 961px) and (max-width: 1880px) {
    #sidebar-header {
        width: 300px;
    }
    #main-container {
        margin-left: 300px;
    }
}

@media screen and (max-width: 960px) {
    .tech span.label {
        font-size: 15px;
        line-height: 40px;
        margin: 5px;
    }
    .pro-image img {
        height: 60px;
        width: 60px;
    }
    #menu-toggle,
    #footer-social {
        display: block;
    }
    #sidebar-header {
        transition: width 0.5s linear;
        width: 0px;
    }
    #main-container {
        font-size: 18px;
        margin-left: 0;
        transition: all 0.5s linear;
    }
    #sidebar-header.toggled {
        width: 250px;
    }
    #main-container.toggled {
        margin-left: 250px;
    }
    #footer-social.toggled {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .tech span.label {
        line-height: 30px;
        margin: 3px;
    }
    .tech span.label,
    .sidebar-navigation ul,
    #main-container {
        font-size: 13px;
    }
    #intro h1,
    .heading {
        font-size: 30px;
    }
    .btn-social {
        height: 28px;
        width: 28px;
    }
    #sidebar-header.toggled {
        width: 150px;
    }
    #main-container.toggled {
        margin-left: 150px;
    }
}